<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="d-flex flex-grow-1">
      <a class="navbar-brand" href="#">Diecsa</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarCollapse">
      <ul class="navbar-nav ml-auto flex-nowrap">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="active"
             [routerLinkActiveOptions]="{exact:true}">INICIO </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/empresa']" routerLinkActive="active">EMPRESA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">PROYECTOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">CONTACTO</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
