/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
}

a.social {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  font-size: 20px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  margin: 10px 1px;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.social {
  background-color: #ddd;
  color: #000;
}


