<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner mh-25">
    <div class="carousel-item active">
      <img src="assets/img/carousel-1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item" data-interval="2000">
      <img src="assets/img/carousel-2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="assets/img/carousel-3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="container py-5">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center">¿Quiénes somos?</h2>
      <p class="text-justify text-center">
        Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris
        condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod.
        Donec sed odio dui.
      </p>
    </div>
  </div>
</div>
<hr>

<div class="container-fluid bg-primary">
  <div class="row mt-2">
    <div class="col-12">
      <h1 class="text-center">HENEN 1</h1>
    </div>
  </div>
  <div class="row justify-content-center mx-5">
    <div class="col-md-3">
      <h4 class="card-title text-center">PRUEBA</h4>
      <div class="card" style="max-height: 340px; max-width: 340px;">
        <img src="assets/img/carousel-1.jpg" style="max-height: 340px; max-width: 340px;">
      </div>
    </div>

    <div class="col-md-3">
      <h4 class="card-title text-center">PRUEBA</h4>
      <div class="card" style="max-height: 340px; max-width: 340px;">
        <img src="assets/img/carousel-2.jpg" style="max-height: 340px; max-width: 340px;">
      </div>
    </div>

    <div class="col-md-3">
      <h4 class="card-title text-center">PRUEBA</h4>
      <div class="card" style="max-height: 340px; max-width: 340px;">
        <img src="assets/img/carousel-3.jpg" style="max-height: 340px; max-width: 340px;">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid d-none d-md-block bg-secondary" style="height: 100px;">
</div>

<div class="container-fluid marketing bg-primary">
  <div class="row py-5">
    <div class="col-12">
      <h1 class="text-center">SERVICIOS</h1>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-3">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
           preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>
        Placeholder</title>
        <rect width="100%" height="100%" fill="#777"></rect>
        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg>
      <h2>Heading</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula
        ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-3">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
           preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>
        Placeholder</title>
        <rect width="100%" height="100%" fill="#777"></rect>
        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg>
      <h2>Heading</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis
        consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
        nibh.</p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-3">
      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg"
           preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>
        Placeholder</title>
        <rect width="100%" height="100%" fill="#777"></rect>
        <text x="50%" y="50%" fill="#777" dy=".3em">140x140</text>
      </svg>
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
        felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
        massa justo sit amet risus.</p>
    </div><!-- /.col-lg-4 -->
  </div>
</div>
